<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Js Service</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/estilo-index.css" />
    <link rel="stylesheet" href="/css/barra.css">
    <link rel="icon" href="/img/logo.jpeg" />
  </head>

  <body>
    <header>
      <!-- BarraPrin barra de busqueeda  -->
      <div class="container">
        <!-- <a href="index.html" class="logoo"></a>
        <img src="img/logo.jpeg" class="logo-logoo"> -->
        <p class="logo"><a href="/">Js services</a></p>


        <nav>
          <a href="#servicios">Servicios</a>
          <a href="/login">Inicio de sesion</a>
          <a href="/registro">Registro</a>
          <a href="/op">Membresias</a>
          
          <a href=""><i class='bx bxs-cart-add'></i></a>


        </nav>
      </div>
    </header>

    <selection id="info">
      <div class="img-container"></div>
      <h1>Tus necesidades de programacion <br />las tenemos en JS SERVICES</h1>
      <br />
      <p>
        Una aplicación web que ofrece servicios<br />
        de asesoría sobre temas de programación en diferentes lenguajes
      </p>
    </selection>
    

    <selection id="nuestros-servi">
      <div class="container">
        <div class="imag-container"></div>
        <div class="texto">
          <h2>
            Nuestros
            <span class="color-textos"><br />
              Servicios</span>
          </h2>
          <p>
            Python y JavaScript son lenguajes de programación utilizados
            tanto en el frontend como en el backend. El frontend se ocupa
            de la interfaz de usuario, mientras que el backend maneja la
            lógica de la aplicación y la conexión con la base de datos.
            Los desarrolladores fullstack trabajan en ambas áreas, utilizando
            tecnologías como Django, React, MySQL, MongoDB, etc., para crear
            aplicaciones completas y funcionales.
          </p>
          <form action="http://localhost:3000/servi">
            <button>Mas Informacion</button>
          </form>
        </div>
      </div>
    </selection>

    <section id="producc">
      <div class="container">
        <h2><span class="color-textos"> <a name="servicios" id="servicios">Servicios</a> </span></h2>
        <a href="#1"></a>
        <div class="programas">
          <div class="cartas">
            <h3>Programador Front - End</h3>
            <p>
            Se especializa en el desarrollo de la interfaz de usuario de
            aplicaciones web o móviles. Utiliza HTML, CSS y JavaScript para
            crear diseños visuales, efectos y una experiencia de usuario más intuitiva
            y eficiente.
            
            <form action="http://localhost:3000/servi#front-end">
            <button>Info</button>
              
            </form>
            
          </div>

          <div class="cartas">
            <h3>Programador Full-Stack</h3>
            <p>
            Profesional que puede desarrollar tanto el frontend 
            como el backend de una aplicación. Trabaja en la parte visible para
            los usuarios utilizando HTML, CSS y JavaScript. En la lógica
            del lado del servidor utiliza lenguajes como Python o JavaScript
            </p>
            <form action="http://localhost:3000/servi#full-stack">
              <button>Info</button>              
                    
            </form>
          </div>
          <div class="cartas">
            <h3>Programador Python</h3>
            <p>
            Utiliza Python para desarrollar una variedad de aplicaciones y sistemas, incluyendo
            desarrollo web, análisis de datos, inteligencia artificial y más.
            Son reconocidos por su capacidad para escribir código limpio y 
            eficiente en diversos entornos profesionales.
            </p>
            <form action="http://localhost:3000/servi#py">
            <button>Info</button>
          </form>
          </div>


          <div class="cartas">
            <h3>Programador JavaScript </h3>
            <p>
              Desarrollar interactividad en el frontend de aplicaciones web,
              incluyendo efectos visuales, animaciones y validaciones de
              formularios. También puede trabajar en el backend utilizando
              Node.js para crear aplicaciones completas.
            </p>
            <form action="http://localhost:3000/servi#js">
            <button>Info</button>
          </form>
          </div>
          
          <div class="cartas">
            <h3>Programador DataBases </h3>
            <!-- linea css 275 para la imagen  -->
            <p>
            Diseña, implementa y gestiona sistemas de almacenamiento de datos.
            Se especializa en crear esquemas, escribir consultas SQL, garantiza
            la seguridad y el rendimiento de las bases de datos para dar más 
            eficiencia en las aplicaciones y sitios web.
            </p>
            <form action="http://localhost:3000/servi#dt">
            <button>Info</button>
          </form>
          </div>
          
          <div class="cartas">
            <h3>Programador Back-End </h3>
            <p>
            Desarrolla la lógica y la funcionalidad de aplicaciones y sitios
            web en el lado del servidor, utiliza lenguajes como Python o JavaScript 
            Se encarga de la gestión de bases de datos y la integración de sistemas
            para garantizar eficiencia y seguridad.
            </p>
            <form action="http://localhost:3000/servi#back-end">
            <button>Info</button>
          </form>
          </div>
          

        </div>
      </div>
    </section>

    <section id="maps">
      <div class="container">
        <iframe
          class="mapa"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.747110070975!2d-74.06877752397983!3d4.639141395335658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a3081295ccb%3A0xd4347f67e96f6d8b!2sSENA%20CGMLTI!5e0!3m2!1ses-419!2sco!4v1708996233288!5m2!1ses-419!2sco"
          width="1400"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </section>
    <footer>
      <div class="container">
      <p>&copy; JS SERVICES</p>
      </div>
  </footer>

    <!-- <selection id="caracteristicas">
                        <div class="fin">
                            <ul class="icon">
                                <li><img
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAftJREFUSEu11UnoTmEUx/HPn4giQzIPsRBZsJKsFBKSkihJGRbWKCkLWZAFKwtKlCFkpWSIZCNsSGQn8yxskBQ6OlfXdd/Xrbf32dzbPc9zvuc5w+/26PLq6bJ/TQEjcQizMqDr2IB3/wuwCSCc30E8y+sZZuBDO0gTwDGsxllsS2d7sRAHsbFTwAuMxgi8TWeT8BBPMaFTwOt0Pg7P09l4PEHYRnUKOIFVmaKt6IddWIQjWNcpYDJuYGjF0ZvsqsedAuJ81GATNqezPdhXqklLRrsu6o+5OFc6/TPfy+eW4Aq+1lHqAAOwMwepDwbjWx6uAiKIT2k/gB34UgZVATNxBtElse5nvxfdUwXEvvOYlvsfYTluF5AyIPo5JnYI7mJLXr0cUF2Kwr4AMXwBCvmYjldhKANOY0XmfCl+1OS0FSC29sYFzMdhrK8CIg1jUB6oKuNafpjTom2m4kF5wss3iKsNS8jLFg4KxwWoum0sQgRDUkJa/krRKaxETO5afG83QDW2vjiJZQiBXFMFRJHvYSBupjxEVzRZUxABRnE/IlIVk/7PD2cxjmfvR0GjBY/iVopbAeuFiZidkc5Lw/vMwtW6Ni2+Dcf21PkYtCYrpng/ducN/pxpJxWDUjGj7UI5fxettELkLuEyLuJzXSRN/mhNbtByT9cBvwDx02EZ3mamCwAAAABJRU5ErkJggg==" />Ak
                                    30 #63F-13, Barrio el Rosario Bogotá, Colombia</li>
                                    <li><img
                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUFJREFUSEvd1T8ohWEUx/HPTTIYTAYpJQMGu8VmVAorZVMmZWCRTJQyKZti9WeRyWYxMzAJKYPJYJD86eh5dd3udf91l3uWp97zPud7fr/zPs+b0+DINbi+5gKMYx0Dddp2jUWcRp18ix7RXWfxbPst+goBXyk7iJsaQaE+FPzWzleQAV4xg6MqIRPYQ3s5QFZ3E0v4KANqSbML3/Pjp/liCmaxgzacYxLPJSCdOMQI3jCH3XIKAjqEE/TgCSH/ogAynGzswgPGcIXM6pIKMlUdOMAo3rGA7QSZxxZacYYpvKRcxYDMwlWspM37aZ1Oa+TW8rqOx1UBMldCRagJVRHRbXQd3RdGTYAo0otjfKaZ3JUYfM2ASo9FEwPu03dfqRX/vRfziZn9OclxXW+gv07CJZaLXdd11i2+vbl+mQ2x6BtqhEIZ+AjT5wAAAABJRU5ErkJggg==" />info@veterinariaalbeitar.com
                                    </li>
                                    <li><img
                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAd1JREFUSEvN1c+LTXEYx/HXmJL8KAtCUiaEEOPHQmEWlCQWlJXf8Q8oK1ZqVtixErEQi0kWFnYiSWKaiIj8KKIslGKB0KPn1pnjnsk5tynfuov7Pfd+3t/v8zyfz+kyyqtrlPVVAabjGn5hCz40PUg7wFTcwdwUfYG1TSFlQIjfwgK8TsBsPMe6JpAyIMqyGW+wJkt0E3MQNwnI+zrlKgN+oBuz8DaFoh838lZD6O0E8BmTMBFf2gDuY1UngEdYnJ/HKTSYp45n6/GxE8A57MNeXEihGNFpWI27dcTjt+Ue7MdZXMTOFDuPPTiBw50CYkzjxN8xA5+wAlH7b1iKp3Ug7Yw2gO3ox9EUO4MDOb47cC/340DXC47/a4TbAZbgYZ54JaK541N0UQpfwXGcxvLcCzP2lX1SlUUncSjdHIZ7l5BTOQTFKr3KLz3p+GGQKsC4jIyY+ZfYitbYLsvSbcMzbEhAmHFeGTJSXE/BbcxP0x3EpREaXHT8A0R5K+O6pTMZV7O2sXc5R7UVI0VeNDxyayH+GRACY1L0GMbiZ5Yrpi2SN1L3a4pHCg8LxTpvtJk4gt2YUFGqaHi8O2Io/qw6gNZ/4habsCuzKcoY6wk2FlK4MaCOkRvd4P8C/Aa9EWMZMtyNWQAAAABJRU5ErkJggg==" />3102171245
                                    </li>
                                </ul>
                                
                            </div>
                        </selection> -->
</body>
</html>
