<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link rel="stylesheet" href="estilos-mem.css"> -->
    <link rel="stylesheet" href="/css/barra.css">
    <link rel="stylesheet" href="/css/estilos-mem.css">
    <title>Mensualidades</title>

</head>
<body>
    <header>
        <!-- BarraPrin barra de busqueeda  -->
        <div class="container">
            <p class="logo">Js services</p>

            <nav>
                <a href="/">Inicio</a>
                <a href="/servi">Servicios</a>
                <a href="/login">Inicio de sesion</a>
                <a href="/registro">Registro</a>
                <a href="/op">Membresias</a>
                <a href="#">
                    <div class="container-cart-icon"><i class='bx bxs-cart-add'></i></div>
                    
                </a>
            </nav>
        </div>
    </header>

    <div class="cart-sidebar">
        <button class="close-cart custom-button">Cerrar</button>
    
        <div class="cart-content">
            <h3>Tu Carrito</h3>
            <ul id="cart-items">
                <!-- Aquí se agregarán dinámicamente los elementos del carrito -->
            </ul>
            <div id="total-price" class="total-price">Total: $0.00</div> <!-- Agregamos una clase para aplicar estilos -->
            <div class="compra">
                <button id="buy-button">Comprar</button>
                <button id="clear-button">Borrar</button>
            </div>
        </div>
    </div>
    

    <selection id="nuestros-servi">
    </selection>


        <section id="producc">
            <div class="container">
                <h2><span class="color-textos">Busca Tu Mejor Plan Personal</a> </span></h2>
                <a href="#1"></a>
                <div class="programas">
                    <div class="cartas">
                        <h3>Asesoria Basica</h3>
                        <h4>40$USD</h4>
                        <p>por usuario a la semana</p>
                        <p>
                          <i class='bx bx-desktop'> Front-End</i>                               
                          <br>
                          2 paginas web                               
                          <br>
                          1 Asesor                             
                        </p>
                        <button class="btn-add-cart" id="comprar-1">Compra</button>
                      </div>
                      <div class="cartas">
                      <h3>Asesoria Estandar</h3>
                      <h4>85$USD </h4>
                      <p>por usuario 15 dias</p>
                      <p>
                        <br>
                        <i class='bx bx-desktop'> Front-End</i>                               
                        <br>
                        <i class='bx bxl-python'> Python</i>                               
                        <br>
                        <i class='bx bxl-javascript' > JavaScript</i>                              
                        <br>
                        <i class='bx bxs-data' > DataBases</i>                              
                        <br>
                        4 paginas web                               
                        <br>
                        1 Asesor                             
                      </p>
                      <button class="btn-add-cart" id="comprar-2">Compra</button>
                      </div>
                      <div class="cartas">
                      <h3>Asesoria Avanzada</h3>
                      <h4>160$USD </h4>
                      <p>por usuario al mes</p>
                      <p>
                        <br>
                            <i class='bx bx-desktop'> Front-End</i>                               
                        <br>
                        
                          <i class='bx bxs-data' > Back-End</i>                                
                        
                        <br>
                          <i class='bx bxs-face-mask'> Full-Stack</i>                            
                                                  
                        <br>
                            8 paginas web                               
                        
                        <br>
                            1 Asesor                             
                        
                      </p>                        
                      <button class="btn-add-cart" id="comprar-3">Compra</button>
                      </div>
                </div>
            </div> 
          </section> 
          <section id="producc">
              <div class="container">
                  <h2><span class="color-textos">Busca Tu Mejor Plan Empresarial</a> </span></h2>
                  <a href="#1"></a>
                  <div class="programas">
                      <div class="cartas">
                          <h3>Asesoria Basica</h3>
                          <h4>120$USD </h4>
                          <p>1 mes</p>
                          <p>
                            <br>
                                <i class='bx bx-desktop'> Front-End</i>                               
                            <br>
                              <i class='bx bxs-data' > Back-End</i>                              
                            <br>
                              4 Paginas web                                                             
                            <br>
                              2 Asesores                             
                          </p>
                        <button class="btn-add-cart" id="comprar-4">Compra</button>
                        </div>
                        <div class="cartas">
                        <h3>Asesoria Estandar</h3>
                        <h4>720$USD </h4>
                        <p>6 meses</p>
                        <p>
                          <br>
                              <i class='bx bx-desktop'> Front-End</i>                               
                          <br>
                              <i class='bx bxs-data' > Back-End</i>                              
                          <br>
                              <i class='bx bxs-face-mask'> Full-Stack</i>                            
                          <br>
                              8 paginas web                               
                          <br>
                              4 Asesores                             
                        </p>
                        <button class="btn-add-cart" id="comprar-5">Compra</button>
                        </div>
                        <div class="cartas">
                        <h3>Asesoria Avanzada</h3>
                        <h4>8.640$USD </h4>
                        <p>1 año</p>
                        <p>
                          <br>
                              <i class='bx bx-desktop'> Front-End</i>                               
                          <br>
                            <i class='bx bxs-data' > Back-End</i>                                
                          <br>
                            <i class='bx bxs-face-mask'> Full-Stack</i>                            
                          <br>
                              16 paginas web                               
                          <br>
                              8 Asesores                             
                        </p>
                        <button class="btn-add-cart" id="comprar-6">Compra</button>
                        </div>
                  </div>
              </div> 
              
            </section>   

    <footer>
        <div class="container">
            <p>&copy; JS SERVICES</p>
        </div>
    </footer>
    <script src="/js/carrito.js">
        
    </script>


</body>
</html>
