<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>servicios</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/estilo-servi.css">
    <link rel="stylesheet" href="/css/barra.css">
    <link rel="stylesheet" href="/img/logo.jpeg">

    
</head>
<body>
    <header>
        <!-- BarraPrin barra de busqueeda  -->
        <div class="container">
          <p class="logo"><a href="/">Js services</a></p>
  
          <nav>
            <a href="/login">Inicio de sesion</a>
            <a href="/registro">Registro</a>
            <a href="/membresia">Membresisas
            <a href=""><i class='bx bxs-cart-add'></i></a>
          </nav>
        </div>
      </header>


        <selection id="detalle">
          
          <div class="fondo">

            
            <div class="container">
              <div class="imag-container"><a name="front-end" id="front-end"></a></div>
              <div class="texto">
                <h2>
                  Programador
                  <span class="color-textos"><br />
                    Front-End
                    </span>
                  </h2>
                  <p>
                    Dominio sólido de HTML, CSS y JavaScript, así como experiencia
                    en frameworks como React.js o Angular para crear interfaces
                    interactivas y responsivas.
                    Experiencia en diseño de UI/UX teniendo familiaridad con principios
                    de diseño de interfaz de usuario (UI) y experiencia de usuario (UX)
                    para crear interfaces intuitivas y atractivas.
                  </p>
                  <div class="botons">
                    <form action="http://localhost:3000/membresia#pr">
                      <button>Personal</button>
                    </form>
                    <form action="http://localhost:3000/membresia#em">
                      <button>Empresarial</button>
                    </form>
                  </div>
                </div>
              </div>
              
          </div>
              
              
              
              
              
          

              <!-- <selection id="nuestros-servi"></selection> -->
              <div class="container">
                <div class="imag1-container"><a name="full-stack" id="full-stack"></a></div>
                <div class="texto">
                  <h2>
                    Programador
                    <span class="color-textos"><br />                      
                      Full-Stack
                      </span>
                    </h2>
                    <p>
                    Posee un amplio dominio tanto del desarrollo frontend como del backend
                    de aplicaciones web, utilizando tecnologías como HTML, CSS, JavaScript,
                    y frameworks como React.js, Angular o Vue.js en el frontend, y lenguajes
                    como Python, JavaScript (Node.js), Java o Ruby en el backend. Además, se
                    espera que tenga experiencia en diseño y gestión de bases de datos,
                    conocimientos de seguridad en el desarrollo web, capacidad para resolver
                    problemas y depurar tanto en el frontend como en el backend.
                    </p>
                    <div class="botons">
                      <form action="http://localhost:3000/membresia#pr">
                        <button>Personal</button>
                      </form>
                      <form action="http://localhost:3000/membresia#em">
                        <button>Empresarial</button>
                      </form>
                    </div>
                    
                  </div>
                </div>
                
                
          <div class="fondo">

              
              <div class="container">
                <div class="imag2-container"><a name="py" id="py"></a></div>
                <div class="texto">
                  <h2>
                    Programador
                    <span class="color-textos"><br />
                      Python</span>
                    </h2>
                    <p>
                    Tiene habilidades sólidas en el lenguaje Python, conocimientos en frameworks
                    como Django y Flask para desarrollo web, así como en bibliotecas como NumPy
                    y Pandas para análisis de datos. También se espera experiencia en bases de
                    datos y capacidad para resolver problemas y colaborar en equipos multidisciplinarios.
                    </p>
                    <div class="botons">
                      <form action="http://localhost:3000/membresia#pr">
                        <button>Personal</button>
                      </form>
                      <form action="http://localhost:3000/membresia#em">
                        <button>Empresarial</button>
                      </form>
                    </div>
                  </div>
                </div>
          </div>
                
                
                
                <div class="container">
                  <div class="imag3-container"><a name="js" id="js"></a></div>
                  <div class="texto">
                    <h2>
                      Programador
                      <span class="color-textos"><br />
                        JavaScript</span>
                      </h2>
                      <p>
                      Tiene dominio del lenguaje y experiencia en frameworks como React.js, Angular o
                      Vue.js para desarrollar aplicaciones web interactivas. Debe ser hábil en HTML,
                      CSS y manipulación del DOM para crear interfaces dinámicas. Además, se espera 
                      que tenga experiencia tanto en frontend como en backend con Node.js, conocimientos
                      en bases de datos, implementación de API y seguridad web.
                      </p>
                      <div class="botons">
                        <form action="http://localhost:3000/membresia#pr">
                          <button>Personal</button>
                        </form>
                        <form action="http://localhost:3000/membresia#em">
                          <button>Empresarial</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  
                  
                  
          <div class="fondo">

                  
                  <div class="container">
                    <div class="imag4-container"><a name="dt" id="dt"></a></div>
                    <div class="texto">
                      <h2>
                        Programador
                        <span class="color-textos"><br />
                          DataBases</span>
                        </h2>
                        <p>
                        Implementan y administración de sistemas de almacenamiento de datos. Esto incluye
                        experiencia en esquemas de bases de datos, consultas SQL, seguridad y rendimiento.
                        Se espera que maneje tanto bases de datos relacionales como NoSQL, así como la
                        integración de bases de datos en aplicaciones. Además, debe tener habilidades
                        para resolver problemas y colaborar efectivamente en equipos de desarrollo.
                        </p>
                        <div class="botons">
                          <form action="http://localhost:3000/membresia#pr">
                            <button>Personal</button>
                          </form>
                          <form action="http://localhost:3000/membresia#em">
                            <button>Empresarial</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    
          </div>
                    
                    
                    
                    <div class="container">
                <div class="imag5-container"><a name="back-end" id="back-end"></a></div>
                <div class="texto">
                  <h2>
                    Programador
                    <span class="color-textos"><br />
                      Back-End</span>
                    </h2>
                    <p>
                    Dominio en el desarrollo de la lógica de negocio y la funcionalidad de aplicaciones web.
                    Esto implica experiencia en lenguajes como Python, Java o JavaScript (con Node.js) y en
                    frameworks como Django, Flask, Spring o Express. Debe manejar la gestión de bases de datos,
                    la implementación de API y la integración de sistemas para garantizar un funcionamiento eficiente
                    y seguro del servidor. 
                    </p>
                    <div class="botons">
                      <form action="http://localhost:3000/membresia#pr">
                        <button>Personal</button>
                      </form>
                      <form action="http://localhost:3000/membresia#em">
                        <button>Empresarial</button>
                      </form>
                    </div>
                  </div>
                </div>
                
              
        </selection>

        
        <footer>
        <div class="container">
          <p>&copy; JS SERVICES</p>
        </div>
      </footer>
      
      
      
    </body>
    </html>